*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}
#cabecalho{
    height: 55px;
    background-color: rgb(2, 195, 54);
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
#menu{
    height: 200px;
    width: 25%;
    float: left;
    margin-left: 37px;
    margin-top: 10px;
}

#menu2{
    height: 200px;
    width: 38%;
    float: left;
}
#menu3{
        height: 200px;
        width: 38%;
        float: left;

}
#menu4{
    height: 200px;
    width: 38%;
    float: left;
}
#menu5{
    height: 200px;
    width: 38%;
    float: left;
}
#menu6{
    height: 200px;
    width: 38%;
    float: left;
}
#conteudo{
    height: 25%;
    width: 40%;
    float: left;
    margin-top: 10px;
    margin-left: 5px;
    text-align: center;
}
#lado2{
    height: 200px;
    width: 30%;
    float: right;
    margin-left: 5px;
    margin-top: 10px;
    margin-block-end: 5px;
}
#lado3{
    height: 200px;
    width: 30%;
    float: right;
    margin-left: 5px;
    margin-top: 10px;
    margin-block-end: 5px;
}
#lado4{
    height: 200px;
    width: 30%;
    float: right;
    margin-left: 5px;
    margin-top: 10px;
    margin-block-end: 5px;
}
#lado5{
    height: 200px;
    width: 30%;
    float: right;
    margin-left: 5px;
    margin-top: 10px;
    margin-block-end: 5px;
}
#lado6{
    height: 200px;
    width: 30%;
    float: right;
    margin-left: 5px;
    margin-top: 10px;
    margin-block-end: 5px;
}
h2{
    background-color: rgb(2, 195, 54);
}
#rodape{
    height: 500x;
    background-color: rgb(2, 195, 54);
    clear: both;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}